<header>

  <div class="header-container">

    <a
      class="header-heading"
      href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}"
    >
      {% assign title_words = site.name | split: " " %}
      {% for word in title_words %}
        <div class="header-heading-title">{{ word }}</div>
      {% endfor %}
    </a>

    <div class="header-nav">

      <ul class="header-nav-items">
        {% for link in site.data.nav %}
          <li>
            <a
              href="{{ link.href }}"
              target="{{ link.target }}"
            >
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <ul class="header-contact">
        {% for link in site.data.contact %}
          <li>
            <a href="{{ link.href }}" target="_blank">
              <div class="img">
                {% include 'svg/{{ link.icon }}' %}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>

  </div>

</header>
