---
layout: page
title: Blog
permalink: /blog/

---

{% if site.blog.size == 0 %}
  <p>
    <em>There are no posts to show right now</em>
  </p>
{% else %}

{% for post in site.blog reversed %}
  <a class="list-item" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h3 class="list-title">
      {{ post.title }}
      <span class="blog-post-date list-blog-date">{{ post.date | date_to_string }}</span>
    </h3>
    <div class="list-description">{{ post.description }}</div>
  </a>
{% endfor %}

{% endif %}
