@import "../partials/markdown";

//
// Header
//

header {
  width:  100%;

  box-sizing: border-box;

  border-top: 0.7rem solid var(--primary-color);
}

  .header-container {
    width:  700px;
    margin: 0 auto;

    @media only screen and (max-width: 720px) {
      width: calc(100% - 2rem);
    }
  }

    .header-heading {
      width:  max-content;
      height: 6rem;

      display:         flex;
      flex-direction:  row;
      justify-content: flex-start;
      align-items:     center;

      text-decoration: none;
      font-size:       2.5rem;
      font-weight:     bold;
    }

      .header-heading-title {
        color: var(--font-color);

        &:first-child {
          margin-right: 0.5rem;
        }

        &::first-letter {
          color: var(--primary-color);
        }
      }

    .header-nav {
      display:         flex;
      flex-direction:  row;
      justify-content: space-between;
      align-items:     center;

      height: 2rem;

      @media only screen and (max-width: 720px) {
        height: 6rem;
        
        flex-direction:  column;
        justify-content: space-between;
        align-items:     flex-start;
      }
    }

      .header-nav-items {
        display:         flex;
        flex-direction:  row;
        justify-content: flex-start;
        align-items:     center;

        height: 100%;

        list-style: none;

        li:not(:first-child) {
          margin-left: 1rem;
        }
      }

      .header-contact {
        height: 100%;

        display:         flex;
        flex-direction:  row;
        align-items:     center;
        justify-content: center;

        @media only screen and (max-width: 720px) {
          align-items: flex-start;
        }

        li {
          display: block;

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }

        .img {
          height: 1.2rem;
          width:  1.2rem;
        }
      }

//
// Main
//


main {
  width:      100%;
  margin-top: 2rem;

  @extend .markdown;

  @media only screen and (max-width: 720px) {
    margin-top: 0rem;
  }
}

  .main-container {
    width:  700px;
    margin: 0 auto;

    @media only screen and (max-width: 720px) {
      width: calc(100% - 2rem);
    }
  }

//
// List page
//

.list-item {
  display:         block;
  text-decoration: none;
  padding:         0.5rem 0.75rem;
  border:          0.1rem solid var(--secondary-bg-color);
  margin-bottom:   1rem;

  &:hover {
    background-color: var(--secondary-bg-color);
  }
}

  .list-title {
    margin-bottom: 0.25rem;
  }

  .list-description {
    margin-bottom: 0;

    color: var(--font-color);
  }

//
// Blog
//

.blog-post-date {
  font-size:   0.8rem;
  color:       var(--secondary-color);
  font-weight: normal;
}

//
// Footer
//

footer {
  width:      100%;
  text-align: center;
  padding:    1rem 0 2rem;

  color:      var(--secondary-color);
  font-size:  0.7rem;
}
