$base-font-size: 16px;
// Other considered fonts - "Heebo", "Work Sans", "Poppins",
$default-font:   Hind, sans-serif;
$monospace-font: Cousine, monospace;

:root {
  font-size:   $base-font-size;
  font-family: $default-font;

  font-variant-ligatures: none;

  --primary-color:      #337d88;
  --secondary-color:    #666666;
  --font-color:         #272727;
  --background-color:   #FDFDFD;
  --secondary-bg-color: #E9E9E9;
  --overlay-color:      0, 0, 0;

  // @media (prefers-color-scheme: dark) {
  //   --primary-color:      #EEEEEE;
  //   --secondary-color:    #999999;
  //   --font-color:         #D8D8D8;
  //   --background-color:   #020202;
  //   --secondary-bg-color: #1F1F1F;
  //   --overlay-color:      0, 0, 0;
  // }
}

html, body {
  width:  100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color:            var(--font-color);
  font-size:        1rem;
}

a {
  color:           var(--primary-color);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: dotted;
  }
}

svg {
  fill: currentColor;
}

.medium-zoom-overlay {
  z-index: 101;

  background-color: rgba(var(--overlay-color), 0.7) !important;
  backdrop-filter:  blur(5px);
}

.medium-zoom-image {
  z-index: 102;
}
