.landing-main {
  display:        flex;
  flex-direction: column;
  align-content:  space-between;

  width:  100%;
  height: 100%;
}

  $landing-main-footing-height: 7rem;

  .landing-main-heading {
    display:         flex;
    justify-content: center;
    align-items:     center;

    width:  100%;
    height: calc(100% - #{$landing-main-footing-height});
  }

    .landing-main-heading-content {
      width:  auto;
      height: auto;

      text-align: center;
    }

      .landing-main-heading-content-title {
        font-size:   10rem;
        font-weight: bold;

        color: var(--primary-color);

        @media only screen and (max-width: 720px) {
          font-size: 20vw;
        }
      }

      .landing-main-heading-content-context {
        color: var(--secondary-color);

        p {
          line-height: 1.5;
        }
      }

  .landing-main-footing {
    width:  100%;
    height: $landing-main-footing-height;

    text-align:  center;
    line-height: 2.5;

    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;

    @media only screen and (max-width: 480px) {
      line-height: 3;
    }
  }

    .landing-main-footing-link {
      display: inline;

      margin-left: 1rem;

      &::before {
        content: "/";

        text-decoration: none;
        margin-right:    1rem;
      }

      &:first-child {
        margin-left: 0;

        &::before {
          content: none;
        }
      }
    }

    .landing-main-footing-icon {
      display: inline-block;

      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }

      a {
        text-decoration: none;
      }

      .img {
        height: 1.2rem;
        width:  1.2rem;

        @media only screen and (max-width: 480px) {
          height: 1.5rem;
          width:  1.5rem;
        }
      }
    }
