.container {
  width:  100%;
  height: 100%;

  display:        flex;
  flex-direction: row;
}

$header-width: 20rem;

//
// Header
//

header {
  width:  $header-width;
  height: 100%;
}

header {
  position: fixed;
  top:      0;
  left:     0;

  display:         flex;
  flex-direction:  column;
  justify-content: space-between;

  overflow: hidden;
}

  .header-heading {
    width:      100%;
    text-align: center;
    margin-top: 3rem;
  }

    .header-heading-title {
      @extend .landing-main-heading-content-title;

      font-size:       3rem;
      display:         block;
      text-decoration: none;
    }

    .header-heading-context {
      @extend .landing-main-heading-content-context;

      p {
        line-height: 1.2;
      }
    }

  .header-nav {
    margin-top: 4rem;
    width:      100%;
    padding:    0 5rem;

    p {
      line-height: 2.5;
    }
  }

  .header-contact {
    margin: 2rem 0 3rem;
    width:  100%;

    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;

    a {
      display:     block;
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }

    img {
      height: 1.2rem;
      width:  1.2rem;
    }
  }

//
// Main
//

main {
  width: calc(100% - #{$header-width});

  padding:      3rem 5rem;
  padding-left: 5rem + $header-width;

  overflow-x: hidden;

  @extend .markdown;
}

//
// Blog
//

.blog-post-date {
  font-size: 0.8rem;
  color:     var(--secondary-color);

  margin-left: 0.5rem;
}

//
// Projects
//

.project-title {
  margin-bottom: 0.25rem;
}
