.container {
  width:  100%;
  height: 100%;

  display:        flex;
  flex-direction: row;
}

$header-width: 20rem;
$small-header-width: calc(100% - 5.5rem);

//
// Header
//

header {
  width:  $header-width;
  height: 100%;

  position: fixed;
  top:      0;
  left:     0;

  display:         flex;
  flex-direction:  column;
  justify-content: space-between;

  z-index: 100;

  overflow: hidden;

  @media only screen and (max-width: 1072px) {
    left: -100%;

    transition: left 500ms;

    background-color: rgba(255, 255, 255, 0.6);

    &.active {
      left: 0;
    }
  }

  @media only screen and (max-width: 480px) {
    width: $small-header-width;
  }
}

  .header-heading {
    width:      100%;
    text-align: center;
    margin-top: 3rem;

    @media only screen and (max-width: 480px) {
      margin-top: 2rem;
    }
  }

    .header-heading-title {
      @extend .landing-main-heading-content-title;

      font-size:       3rem;
      display:         block;
      text-decoration: none;
    }

    .header-heading-context {
      @extend .landing-main-heading-content-context;

      p {
        line-height: 1.2;
      }
    }

  .header-nav {
    margin-top: 4rem;
    width:      100%;

    p {
      line-height: 2.5;
      text-align:  center;
    }
  }

  .header-contact {
    margin: 2rem 0 3rem;
    width:  100%;

    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;

    @media only screen and (max-width: 480px) {
      margin-bottom: 2rem;
    }

    a {
      display:     block;
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }

    img {
      height: 1.2rem;
      width:  1.2rem;

      @media only screen and (max-width: 480px) {
        height: 1.5rem;
        width:  1.5rem;
      }
    }
  }

//
// Main
//

.main-cover {
  display: none;
  opacity: 0;

  height: 100%;
  width:  100%;

  background-color: var(--background-color);

  backdrop-filter: blur(5px);

  top: 0;
  left: 0;

  position: fixed;
  z-index:  99;

  @media only screen and (max-width: 1072px) {
    transition: opacity 500ms;

    &.active {
      display: block;
      opacity: 0.75;
    }
  }
}

main {
  width: calc(100% - #{$header-width});

  padding:      3rem 5rem;
  padding-left: 5rem + $header-width;

  overflow-x: hidden;

  @media only screen and (max-width: 1072px) {
    width: 100%;

    padding-left: 5rem;
  }

  @media only screen and (max-width: 480px) {
    padding: {
      top:    1rem;
      bottom: 1rem;
      left:   3.5rem;
      right:  1rem;
    }
  }

  @extend .markdown;
}

//
// Blog
//

.blog-post-date {
  font-size: 0.8rem;
  color:     var(--secondary-color);
}

.blog-list-date {
  margin-left: 0.5rem;
}

//
// Projects
//

.project-title {
  margin-bottom: 0.25rem;
}

//
// Menu
//

.menu-btn {
  display: none;

  height: 2rem;
  width:  2rem;

  position: fixed;
  top:      3.5rem;
  left:     1.5rem;

  z-index: 100;

  cursor: pointer;

  @media only screen and (max-width: 1072px) {
    display: inline-block;

    transition: left 500ms;

    &.active {
      left: 2rem + $header-width;
    }
  }

  @media only screen and (max-width: 480px) {
    top:  1.5rem;
    left: 1rem;

    &.active {
      left: 2rem + $small-header-width;
    }
  }
}
