---
layout: page
title: Blog
permalink: /blog/

---

{% if collections.blog.size == 0 %}
  <p>
    <em>There are no posts to show right now</em>
  </p>
{% else %}

{% assign current_year = '9999' %}
{% for post in collections.blog %}
  {% assign this_year = post.date | date: '%Y' %}
  {% if current_year != this_year %}
    <h4>{{ this_year }}</h4>
    {% assign current_year = this_year %}
  {% endif %}

  <a class="list-item" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h3 class="list-title">
      {{ post.data.title }}
      <span class="blog-post-date list-blog-date">{{ post.date | date: '%d %b, %Y' }}</span>
    </h3>
    <div class="list-description">{{ post.data.description }}</div>
  </a>
{% endfor %}

{% endif %}
